.contenedor .widget-1{
    background-image: url(../Imagenes/Dioses/Chalchiuhtlicue.jpg);
    background-repeat: no-repeat;
    position: relative;
    /* background-position: 50% 0%; */
}

.img2{
    background-image: url(../Imagenes/Practica\ 9\ Chalchiuhtlicue.png);
    background-repeat: no-repeat;
    /* background-position: 50% 0%; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;

    resize: horizontal;
    overflow: hidden;
}